---
import Input from './Input'
---

<div class="h-screen grid content-center mx-auto w-[80%] xl:w-[50%] md:w-[75%]">
  <h1 class="text-5xl font-extrabold text-center sm:text-6xl md:text-8xl">
    Bienvenido al validador de RUT
  </h1>
  <div class="my-5">
    <label class="font-bold text-sm">Ingrese el rut</label>
    <Input client:only/>
  </div>
</div>